.banner {
    height: 70px;
    background-color: #c8ded0;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px 0px #969696;
}

.bannerTitle {
    font-family: fantasy;
    font-size: clamp(18px, 4vw, 30px);
    margin-bottom: 0;
}

.shoppingCartContainer {
   position: absolute;
   justify-content: center;
    right: 1em;
    background-color: white;
    border-radius: 100%;
    width: 55px;
    height: 55px;
}

.shoppingCartContainer .nav-link {
    flex-direction: column-reverse;
    padding: 0;
}


.pickupTsContainer {
    position: absolute;
    right: 8rem;
}

.pickupTsContainer p {
    margin: 0;
}

.pickupTsReserverTs {    
    text-decoration: underline;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }