h5 {
    margin-left: 1rem;
}

h2 {
    align-self: center;
}

.cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 500px;
}

.cartTotal {
    margin-top: 10px;
    align-self: flex-end;
}

.cartTotal span {
    font-weight: bold;
}

.listCartContainer {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #DDDDDD;
    overflow: scroll;
    overflow-x: hidden;
}

.cartOptions {
    display: flex;
    font-size: 0.90rem;
    justify-content: space-between;
}

.cartOptions p span {
    white-space: nowrap;
    font-size: 0.80rem;
}

.table {
    table-layout: fixed;
}

.table td, .table th {
    padding: .55rem !important;
}


th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    text-align: center !important;
    border-bottom: 1px solid #dddddd !important;
    z-index: 1;
    
}
th:first-child {
    text-align: end !important;
}

td {
    text-align: center;
}

td:first-child {
    text-align: end;
}

.elementType {
    text-align: start !important;
    font-weight: bold;
}

.elementContent { 
    background-color: rgb(245, 245, 245);
}
