
.checkout {
    display: flex;
    flex-direction: column;
}

.modal-title {
    color: #636363;
    text-align: center;

}

.modal-footer {
    justify-content: center !important;
}

.modal-body {
    color: #636363;
    text-align: center;
}

