.flexCentered {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.flexRow {
    display: flex;
    flex-direction: column;
}

.material-icons.red {
    color: red;
}

.material-icons.green {
    color: green;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-36 {
    font-size: 36px;
}