h4 {
    width : 100%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

ul {
    padding-left : 0;
}

.bold {
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
}

.listMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.options {
    background-color: white;
    box-shadow: 0px 0px 7px 16px rgba(0, 0, 0, 0.19);
    border: 3px inset #287d454f;
}

.itemContent {
    background-color: white;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border-right: 5px solid #287d454f;
    border-left: 5px solid #287d454f;
}

.item {
    text-align: center;
}

.item-name {
    border-bottom: 1px solid rgba(204, 204, 204, 0.486);
    border-right: 1px solid rgba(204, 204, 204, 0.486);
    font-weight: bold;
}

.item-basePrice {
       border-bottom: 1px solid rgba(204, 204, 204, 0.486);
    border-right: 1px solid rgba(204, 204, 204, 0.486);
    
} 

.item-qty {
       border-bottom: 1px solid rgba(204, 204, 204, 0.486);
    border-right: 1px solid rgba(204, 204, 204, 0.486);
} 

.item-finalPrice {
    white-space: pre-wrap;
    border-bottom: 1px solid rgba(204, 204, 204, 0.486);
}

.item-desc {
        border-right: 1px solid rgba(204, 204, 204, 0.486);
        border-left: 1px solid rgba(204, 204, 204, 0.486);
    overflow-wrap: anywhere;
}

.item-optionBtn {
    border-right: 1px solid rgba(204, 204, 204, 0.486);
}

.item-options {
    border-right: 1px solid rgba(204, 204, 204, 0.486);
    padding-right: 5px;
    margin-right: 5px;
}

.item-options p {
    margin-bottom: 5px;
}

.item-options:first-child {
    margin-left: 5px;
}

.item-options:last-child {
    border-right: none;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    justify-content: center;
}

.item-img {
    width: 95%;
    height: auto;
    padding: 5px;
}

.item-img img{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 36%);
}

.menuRenderCol {
    min-width: 700px;
    max-width: 1000px;
}

.alert {
    margin-left: 2px;
    margin-right: 2px;
}

.dropdown-toogle {
    white-space: break-spaces !important;
}

@media (max-width: 767px) {
    .item-item {
    border-bottom: 1px solid rgba(204, 204, 204, 0.486);
    min-height: 40px;
    text-align: center;
    }
    
    .item-item:last-child {
        border-bottom: none;
    }

    .listMenu {
    margin-bottom: 4%;
    }

    .menuRenderCol {
        min-width: 0;
    }
}

@media (max-width: 576px) {
    .item {
        padding: 0 !important;
        max-height: 80px;
    }

    .item-name, .item-basePrice, .item-finalPrice, .item-desc{
        font-size: 13px;
    }

    .item-desc {
        overflow-y: auto;
    }
    
    .item-addToCart {
        margin-left:1px;
    }

    .btn {
        padding: 2vw 0.5vw !important;
        font-size: 13px !important;
    }
}