
.qtySelect-qty {
    width: 32px;
    height: 100%;
}

.qtySelect {
    margin: 5px;
}

.qtySelect-button {
    background: #f5f3f3;
    border: none;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.19);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qtySelect-button:focus {
    outline: none;
}

.qtySelect-button:active {
    background: white;
}