 .rightPanel{
    background-color: #f7f7f7;
    color: #1a1a1abf;
    border-left: 1px solid #ececec;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
 }
 
 a{ 
     color:  #1a1a1abf !important;
 }
 
 h6{
     color: black;
 }

 @media (max-width: 850px) {
     .rightPanel {
         display: none;
     }
 }