.rts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-group-1 {
    margin: 1px;
}

.btn-1-border {
    border-right:1px solid 
    #484747 !important;
    border-left:1px solid 
    #484747 !important
}


.btn-1-border-left {
    border-left:1px solid 
    #484747 !important
}